<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Enviar Mensagem</h2>
<form method="post" action="/mensagem/enviar">
  <label for="destinatario">Destinatário:</label>
  <select name="destinatario" id="destinatario" required>
    <option th:each="usuario : ${usuarios}" th:value="${usuario.login}" th:text="${usuario.nome}"></option>
  </select>

  <label for="assunto">Assunto:</label>
  <input type="text" id="assunto" name="assunto" maxlength="250" required />

  <label for="mensagem">Mensagem:</label>
  <textarea id="mensagem" name="mensagem" rows="5" required></textarea>

  <button type="submit">Enviar</button>
</form>

</body>
</html>