<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h2>Mensagem</h2>
<p><strong>Remetente:</strong> <span th:text="${mensagem.remetente}"></span></p>
<p><strong>Assunto:</strong> <span th:text="${mensagem.assunto}"></span></p>
<p><strong>Data/Hora:</strong> <span th:text="${mensagem.dataHora}"></span></p>
<p><strong>Mensagem:</strong></p>
<p th:text="${mensagem.mensagem}"></p>

</body>
</html>